<img src='/assets/img/main.png'>

<ion-content class='ion-padding'>
  <div class='ion-padding'>
    <ion-button expand="full" shape="round" color="primary" routerLink="/cadastro">
      <ion-icon name="person" position="floating"></ion-icon>
      <ion-label>Cadastro</ion-label>
    </ion-button>
  </div>

  <div class='ion-padding'>
    <ion-button expand='full' shape='round' color='primary' routerLink="/login"> 
      <ion-icon name="log-in" position="floating"></ion-icon>
      <ion-label>Login</ion-label>
    </ion-button>
  </div>
</ion-content>
