td.direita {
    text-align: right;
    
    vertical-align: center;
  }

td.esquerda {
    text-align: left;
    vertical-align: top;

}

.padding-2{
    padding-top: 15pt;
    padding-right: 15pt;
    padding-bottom: 15pt;
    padding-left: 15pt;
}

.padding-3{
  padding-top:5pt;
  padding-left: 10pt;
}

.my-custom-menu {
  --width: 500px;
}

.clickable {
  pointer-events: auto !important;
}

